@using Bookish_V2.Web.Models;
@using Bookish_V2.DataAccessFmwk;
@model Bookish_V2.Web.Models.LibraryCatalogueViewModel
@{
	ViewBag.Title = "Home Page";
}

<html>
<head>

</head>
<body>
	<table>
		<tr><th>Title</th><th>Author(s)</th><th>Copies</th></tr>
		@{
			foreach (var book in Model.inventory.Keys)
			{
				@:<tr>
					<td> @book.Title </td>
					<td> @book.Authors </td>
					<td> @Model.inventory[book]</td>
				@:</tr>
			}
		}
	</table>
</body>
</html>